.App {
  text-align: center;
}


main {
  flex: 1;
  min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.gradient-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #008080, #FFA500, #800080);
  opacity: 0.8;
  z-index: -1;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.footer-container {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: transparent!important;

}

@media screen and (max-width: 768px) {
  .footer-container {
    position: static;
    margin-top: 50px;
  }
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-input {
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #f3f3f3;
  font-size: 1rem;
  line-height: 1.5;
  height: 100px;
  width: 100%;
  resize: none;
}

.form-input:focus {
  outline: none;
  border-color: #4a9fff;
  box-shadow: 0 0 0 0.2rem rgba(74, 159, 255, 0.25);
}

.comment-container {
  font-family: 'Montserrat Alternates', sans-serif;
  
}

.add-collab-btn {
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.add-collab-btn:hover {
  background-color: black!important;
  color: white;
}

.comment-submit-btn {
  background-color: white;
  color: black;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.comment-submit-btn:hover {
  background-color: black!important;
  color: white;
}

.comment-heading {
  font-family: 'Montserrat Alternates', sans-serif!important;
  font-weight: bold;
  text-align: center;
}

.main-project-header {
  text-align: center;
}

.project-card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.55);
  border: 1px solid #ccc!important;
}

.comments-h3-element {
  font-family: 'Montserrat Alternates', sans-serif!important;
  font-weight: bold;
  text-align: center;
}

.p-3 {
  margin-bottom: 15px;
}