@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-date {
  color: white;

}

.navbar-logo {
   background-size: contain;
  background-repeat: no-repeat;
  width: 85px;
  height: 80px;
  margin-right: 10px;
}

.css-1oba6rb {
  text-align: center;
}

.navbar {
  background-color: black;
}

.navbar-btn {
  background-color: transparent!important;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out!important;
}

.navbar-btn:hover,
.navbar-btn:focus,
.navbar-btn:active {
  font-size: 25px;
  background-color: black;
  color: #fff;
  outline: none;
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.info-button {
  background-color: black!important;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.info-button:hover {
  background-color: lightgray;
  transform: scale(1.1);
}

.info-header {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: bold;
}

.info-text {
  font-family: 'Helvetica Neue';
  font-weight: bold;
  
}