body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar-date {
  color: white;

}

.css-1oba6rb {
  text-align: center;
}

.navbar {
  background-color: black;
}

.navbar-btn {
  background-color: transparent!important;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin: 0 5px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out!important;
}

/* .navbar-btn:hover,
.navbar-btn:active {
  font-size: 18px;
  background-color: black;
  color: #fff;
} */

.navbar-btn:hover,
.navbar-btn:focus,
.navbar-btn:active {
  font-size: 25px;
  background-color: black;
  color: #fff;
  outline: none;
}

