body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


nav {
  background-color: #222;
  padding: 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 20px;
}

nav a.active {
  font-weight: bold;
}

nav a:hover {
  color: #999;
}

.navbar-date {
  color: white;

}