/* main {
    background-color: #1a1a1a;
    color: #f5f5f5;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    background-color: #212121;
    color: #f5f5f5;
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .card-header {
    background-color: #1a1a1a;
    border-bottom: none;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
  }
  
  .form-input {
    margin: 1rem 0;
    width: 100%;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
  }
  
  .btn-primary {
    background-color: #03a9f4;
    color: #f5f5f5;
    border: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0276aa;
  }
  
  .my-3 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  
  .p-3 {
    padding: 1rem;
  }
  
  .bg-danger {
    background-color: #dc3545;
  }
  
  .text-white {
    color: #f5f5f5;
  } */